# service name:     restbatch.service
# path:             ~/.config/systemd/user/restbatch.service

[Unit]
Description=R-restbatch Server

[Service]
Type=simple
PIDFile=/run/restbatch.pid
EnvironmentFile=/usr/local/etc/restbatch/restbatch.conf

ExecStart=/usr/local/sbin/restbatch start
ExecStop=/usr/local/sbin/restbatch stop

Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
